* {
  font-family: 'Roboto', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 12px;
  padding-top: 2rem;
}

.headline {
  display: flex;
  color: white;
  background-color: #1f2937;
  padding: 100px;
  padding-left: 13rem;
  padding-right: 1rem;
  flex-wrap: wrap;
}

.logo,
:visited {
  text-decoration: none;
  font-size: 24px;
  margin-right: 27rem;
  font-weight: 1000;
  color: #f9faf8;
  transition: all 1s;
}

.header-links {
  margin-right: -8rem;
}

.header-links a,
.part-1 p {
  margin-right: 10px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  animation: text-color 2s ease;
}

.header-links a:visited {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.part-1 {
  grid-column: 1;
  width: 43%;
  margin-right: 2rem;
}

@keyframes text-color {
  0% {
    color: transparent;
  }

  25% {
    color: #e5e7eb52;
  }

  75% {
    color: #e5e7eb81;
  }

  100% {
    color: #e5e7eb;
  }
}

.part-2 {
  grid-column: 2;
  display: flex;
  width: 47%;
  height: 253px;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
  background-color: rgb(109, 116, 125);
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: -21px;
}

.signup {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 42px;
  color: white;
  font-weight: bold;
  background: #3b82f6;
}

.random-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-information ul {
  padding: 0;
  width: 73%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.random-information ul li {
  list-style: none;
  width: 18%;
  margin: 21px;
}

.random-information ul li div {
  height: 10rem;
  border: solid;
  border-color: #3b82f6;
  border-radius: 27px;
}

.call-action {
  background-color: #3b82f6;
  border-radius: 19px;
  margin-left: 183px;
  margin-right: 135px;
  color: white;
  display: grid;
  padding-left: 159px;
  padding-top: 48px;
  padding-bottom: 28px;
  margin-top: 61px;
  margin-bottom: 61px;
}

.call-action h2,
.call-action p {
  grid-column: 1;
  margin: 0;
}

.random-information ul li p {
  text-align: center;
  padding: 11px;
}

.random-information h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 1000;
}

blockquote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  padding-left: 193px;
  padding-right: 193px;
  padding-top: 119px;
  padding-bottom: 119px;
}

.part-2 img {
  width: 100%;
  height: 100%;
}

blockquote span {
  float: right;
  margin: 5px;
  margin-top: 35px;
  font-weight: 900;
  font-size: 29px;
}

.image-placeholder img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  box-shadow: 19px 20px 20px 0;
  transition: all 1s;
}

.image-placeholder img:hover {
  filter: hue-rotate(233deg);
}

.call-action button {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #3b82f6;
  border: solid;
  border-color: white;
  width: 154px;
  border-radius: 8px;
  padding-right: 41px;
  padding-left: 28px;
  margin-bottom: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  font-size: 22px;
  height: 3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  height: 5rem;
}

footer span {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    margin: 5px;
  }

  .logo {
    margin-right: 1rem;
  }

  .headline {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .part-1 {
    width: 90%;
    padding: 1rem;
  }

  .part-2 {
    width: 81%;
    margin-bottom: 2rem;
    padding: 0;
  }

  .random-information ul {
    width: 58%;
  }

  .random-information ul li {
    width: 100%;
  }

  h1 {
    font-size: 39px;
  }

  blockquote {
    font-size: 13px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  blockquote span {
    font-size: 14px;
  }

  .call-action {
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .random-information h2 {
    font-size: 22px;
  }
}

.call-action button:hover,
.call-action button:active,
.call-action button:focus {
  background-color: white;
  color: #3b82f6;
  border-color: #3b82f6;
  transition: all 1s;
}

.part-1 button:hover {
  background-color: white;
  color: #3b82f6;
  border-color: #3b82f6;
  transition: all 1s;
}

.logo:hover {
  filter: hue-rotate(86deg);
}
